{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block content %}
<div class="container">
<h1 style="text-align: center;">About Us</h1>
<img src="{% static 'img/img.jpg' %}" width="30%">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum iure tenetur vitae error praesentium repellendus reiciendis animi explicabo iste? Quas, repudiandae at porro voluptates sequi laboriosam quasi tenetur, adipisci facilis, ipsa consequuntur animi quibusdam enim perspiciatis eos veniam recusandae delectus in minima vero deserunt quis eaque eligendi repellendus. Facere magnam dolores rem officiis quis atque, error dolorum corporis nulla a numquam consequatur aliquam vitae optio laboriosam suscipit alias deleniti, ad repellat. Eius officiis dignissimos quasi itaque incidunt facere id, libero autem optio quaerat voluptas porro amet ratione. Sapiente autem maxime modi, fugit sint mollitia totam magnam. Similique, iste asperiores!</p>
</div>

{% endblock content %}